.chip {
  border: 1px solid gray;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all 1s;
}
.chip:hover {
  background-color: rgb(243, 239, 239);
}
